<div class="container text-center">
  <input
    [(ngModel)]="searchText"
    type="text"
    class="form-control"
    placeholder="Ara.."
  />
  <ul>
    <li *ngFor="let post of postList | searchPost : searchText">
      <!-- Angular içerisinde uygulama içi link verilirken HREF kullanımı yasak. (SPA kullanıma uygun değil) -->
      <!-- routerLink -->

      <!-- linksonu?id=1&x=2&y=merhaba -->
      <!-- linksonu/param1/param2 -->
      <!-- alt gr + T -->
      <a [routerLink]="'/post-detail/' + post.id">{{ post.title }} </a>
    </li>
  </ul>
</div>
