<div class="container">
  <div class="row">
    <div style="border: 1px solid black" class="col-md-3 col-sm-6 col-12">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus provident
    </div>
    <div style="border: 1px solid black" class="col-md-3 col-sm-6 col-12">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorum
      optio omnis odio quidem soluta in nam ad, beatae suscipit dicta qui rerum
      reprehenderit esse deleniti nostrum sit enim ut. Vel, iusto harum! Ullam
    </div>
    <div style="border: 1px solid black" class="col-md-3 col-sm-6 col-12">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam deserunt
      atque repellendus, cumque ut odio. Minus molestias ab, quisquam sapiente
      veniam in pariatur! Excepturi, pariatur. Nihil dolorum voluptate
      blanditiis consequuntur. Placeat dolorem consequuntur cupiditate harum
      totam quam assumenda alias quis ratione nihil eligendi accusamus, nobis
      provident, vero amet autem? Doloribus debitis fugiat nostrum praesentium
      ad deserunt repudiandae ex accusantium nisi. Cum qui atque sint vitae
      voluptatum. Accusantium voluptatum nisi repellat? Saepe, vel dicta nulla
    </div>
    <div style="border: 1px solid black" class="col-md-3 col-sm-6 col-12">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, atque
      delectus. Quos inventore eius quaerat, aut rerum cumque eveniet, neque
      dolor cum dignissimos nulla fuga molestiae harum, alias doloremque non?
      Consequuntur nostrum libero ea delectus facilis minus officiis quaerat
      asperiores natus hic possimus, vitae in dolor mollitia accusantium tempora
      impedit eius reprehenderit iure omnis, culpa assumenda. Consequuntur vel
    </div>
    <div style="border: 1px solid black" class="col-6">5</div>
    <div style="border: 1px solid black" class="col-6">6</div>
    <div style="border: 1px solid black" class="col-12">Footer</div>
  </div>
</div>
